<h1><%= t('.header') %></h1>

<table class="table">
  <thead class="thead-light">
  <tr>
    <th><%= t('.gist_question') %></th>
    <th><%= t('.gist_url') %></th>
    <th><%= t('.gist_user') %></th>
    <th><%= t('.gist_created_at') %></th>
  </tr>
  </thead>
  <tbody>
    <%= render @gists %>
  </tbody>
</table>
