<h1><%= current_user.name %></h1>

<h2><%= t('.profile') %></h2>
<p>
  Email: <strong><%= current_user.email %></strong>
</p>

<h2><%= t('.user_badges') %></h2>
<%= badges_link %>

<%= render partial: 'badges/badge_table', locals: { badge: current_user.badges } %>

<hr>

<h2><%= t('.test_passage') %></h2>

<%= render partial: 'tests/test_table', locals: { test: current_user.tests } %>

<hr>

<h2><%= t('.test_authorship') %></h2>

<%= render partial: 'tests/test_table', locals: { test: current_user.authorships } %>


