<h1><%= current_user.name %></h1>

<h2><%= t('.profile') %></h2>
<p>
  Email: <strong><%= current_user.email %></strong>
</p>

<h2><%= t('.test_passage') %></h2>

<table>
  <%= render "tests/test_header" %>
  <%= render current_user.tests %>
</table>
<hr>

<h2><%= t('.test_authorship') %></h2>

<table>
  <%= render "tests/test_header" %>
  <%= render current_user.authorships %>
</table>
<hr>


