<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<p><%= total_questions_helper %></p>

<p>
  <%= t('.correct_answers', score: @test_passage.score) %>
</p>

<%= result_message(@test_passage.result_percentage) %>

<%= link_to t('.back2tests'), tests_path %> |
<%= link_to t('.start_test_again'), start_test_path(@test_passage.test) %>
