<h1><%= @test_passage.test.title %> was completed!</h1>

<p><%= total_questions_helper %></p>

<p>
  Correct answers: <%= @test_passage.score %>
</p>

<p>
  your result: <%= @test_passage.result_percentage %>%

</p>
<h2>
  <%= result_message(@test_passage.result_percentage) %>
</h2>
<hr>
<%= test_nav(@test_passage.test) %>
