<h1>[<%= @question.id %>] <%= @question.body %></h1>

<p>
  <%= link_to t('.back'), admin_test_path(@question.test) %> |
  <%= link_to t('.edit'), edit_admin_question_path(@question) %> |
  <%= link_to t('.delete'), admin_question_path(@question),
              method: :delete,
              data: {confirm: t('.sure')} %>
</p>

<h2><%= t('.answers') %></h2>

<ol>
  <%= render @question.answers %>
</ol>

<p>
  <%= link_to t('.new_answer'), new_admin_question_answer_path(@question) %>
</p>
