<%= link_new_test %> | <%= link_to_gists %> | <%= link_to t('.badges'), admin_badges_path %>
<hr>

<h1><%= t('.header') %></h1>

<%= render 'shared/errors', resource: @test %>

<%= render partial: 'admin/tests/test_table', locals: { test: @tests } %>
