<h1><%= t('.header_html', title: @test.title) %></h1>

<p><%= t('.level') %>: <strong><%= test_level(@test) %> (<%= @test.level %>)</strong></p>

<table class="table">
  <thead class="thead-light">
  <tr>
    <th><%= t('.id') %></th>
    <th><%= t('.question') %></th>
    <th colspan="4"><%= t('.actions') %></th>
  </tr>
  </thead>
  <tbody>
    <%= render @questions %>
  </tbody>
</table>
<hr>
<%= link_to_tests %> | <%= link_new_question %>
