<h1><%= t('.header_html', title: @test.title) %></h1>

<p><%= t('.level') %>: <strong><%= test_level(@test) %> (<%= @test.level %>)</strong></p>

<table>
  <tr>
    <th><%= t('.id') %></th>
    <th><%= t('.question') %></th>
    <th colspan="4"><%= t('.actions') %></th>
  </tr>

  <%= render @questions %>
</table>
<hr>
<%= link_to_tests %> | <%= link_new_question %>
