<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col"><%= t('.title') %></th>
      <th scope="col"><%= t('.questions') %></th>
      <th scope="col"><%= t('.level') %></th>
      <th scope="col"><%= t('.category') %></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'tests/test', collection: test %>
  </tbody>
</table>
