<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col" id="title" class="table-header"><%= t('.title') %></th>
      <th scope="col" id="questions" class="table-header"><%= t('.questions') %></th>
      <th scope="col" id="level" class="table-header"><%= t('.level') %></th>
      <th scope="col" id="category" class="table-header"><%= t('.category') %></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'tests/test', collection: test %>
  </tbody>
</table>
