<h1>Test &laquo;<%= @test.title %>&raquo;</h1>

<p>Level: <strong><%= test_level(@test) %> (<%= @test.level %>)</strong></p>

<table>
  <tr>
    <th>id</th>
    <th>Question</th>
    <th colspan="2">Actions</th>
  </tr>

  <%= render @questions %>
</table>
<hr>
<%= link_to 'Back to tests', tests_path %>
&nbsp;|&nbsp;
<%= link_to 'Create new question', new_test_question_path(@test.id) %>
