<header class="header">
  <div class="container">
    <div class="topbar">
      <%= link_to t('.title'), root_path, class: 'logo__title' %>
      <div class="account">
        <% if user_signed_in? %>
          <%= t('.welcome') %> <strong><%= link_to current_user.name, guru_path %></strong>! |
          <% if current_user.admin? %>
            <%= link_to t('.admintools'), admin_tests_path %> |
          <% end %>
          <%= link_to t('.logout'), destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to t('.login'), user_session_path %> |
          <%= link_to t('.signup'), new_user_registration_path %> |
        <% end %>
        <% if I18n.locale == I18n.default_locale %>
          <%= link_to t('.eng'), {lang: :en} %>
        <% else %>
          <%= link_to t('.rus'), {lang: :ru} %>
        <% end %>
      </div>
    </div>
  </div>
</header>
