<header class="header">
  <div class="container">
    <div class="topbar">
      <%= link_to 'TestGuru', root_path, class: 'logo__title' %>
      <div class="account">
        <% if user_signed_in? %>
          Welcome, guru <strong><%= link_to current_user.name, guru_path %></strong>! |
          <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to 'Login', user_session_path %> |
          <%= link_to 'Signup', new_user_registration_path %>
        <% end %>
      </div>
    </div>
  </div>
</header>
