<!DOCTYPE html>
<html>
<head>
  <title><%= t('.title') %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="d-flex flex-column">
  <%= render 'admin/navbar' %>
  <div class="container flex-fill">
    <%= render 'shared/flash' %>
    <%= yield %>
  </div>
  <%= render 'layouts/footer' %>
</body>
</html>
